{% extends 'base.html' %}

{% block titulo %}Crear noticia{% endblock %}

{% block contenido %}
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Guardar"></input>
    </form>
{% endblock %}
